* {
  margin:0;
  padding: 0;
  font-family: Arial, 'sans-serif';
  box-sizing: border-box;
}
body {
  min-width: 660px;
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.5rem;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
}
.emailContainer {
  width: 90%;
  margin: 2rem auto;
}

.sidebar {
  width: 15%;
  float: left;

}

.sidebar > ul {
  list-style: none;
}

.emailList, .emailDetails {
  width: 85%;
  float: right;
}

.emailList > ul {
  list-style: none;
}

.emailList > div ul li {
  display: inline-block;
}

.emailList-from {
  width: 50%;
}

.emailList-title {
  width: 50%;
}

.emailDetails > ul {
  list-style: none;
}

.emailDetails-content {
  margin-top: 1.5rem;
}


.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}